*{
  margin:0;
  font-family: 'Raleway';
}

body{
  background: #F5F5F5;
}
header{
display: flex;
justify-content: space-around;
background: #76BEBE;
padding: 1rem 3rem ;
align-items: center;
color: white;
min-width: 100vh;
}

header h4{
  text-align: center;
}

#top-content{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 1rem 0;
  background-color: white;
}

#top-content h1{
  color:#CF509C ;
  font-size: 3rem;
}
#top-content h3{
  font-size: 2rem;
}

.logo{
  max-width: 10rem;
}

.content{
  display: flex;
  background: #F5F5F5;
  bottom: 0;
}

#form{
  display: flex;
  flex-direction: column;
  width: 30%;
  font-family: 'Alegreya Sans SC';
  margin: 3rem
}

input{
  border-radius: 0.5rem ;
  padding: 0.5rem 1rem ;
  border: 0;
  margin-bottom: 2rem ;
}

#btn-cadastrar{
  font-family: 'Raleway';
  background: #76BEBE;
border-radius: 10px;
margin: 1rem 2rem ;
}

.table-content{
  margin: 3rem;
  font-family: 'Alegreya Sans SC';
}
table{
  border: 1px solid #767373;
  border-collapse: collapse;
}
table thead{
  background: #3E3D3D;
  border: 1px solid #767373;
  color: white;
  box-sizing: border-box;
  
}
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #767373;
  border-collapse: collapse;
}
tbody{
  background-color: white;
}
td{
  text-align: center;
  border: 1px solid #767373;
  border-collapse: collapse;
}
td img{
  max-width: 1.5rem;
}